vtutopro {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

vtutopro boxes {
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

boxes box {
  cursor: pointer;
  position: absolute;
  padding: 0.4em;
  display: block;
  background: white;
}
